<a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Acceso a Bases de Datos con SQL Magic</font></h1>

#### Al finalizar el estudio de este cuaderno, sabrás acceder a bases de datos con el uso de SQL “Magic”. Te conectaras a una base de datos Bb2, ejecutaras comandos en SQL para crear tablas, introducirás datos y hacer consultas, además de guardar lo resultados en un dataframe de Python.

#### Para comunicarse con bases de datos SQL desde un cuaderno de JupyterLab, podemos usar SQL Magic, que es implementado por la extensión ipython-sql Magic es un término usado en JupyterLab para referirse a comandos especiales que empiezan por %.  Dentro del entorno del laboratorio proveído por el curso, la extensión ipython-sql ya se encuentra instalada así como el controlador ibm_db_sa.

In [1]:
%load_ext ipythonsql

ModuleNotFoundError: No module named 'sql'

##### Ahora tenemos acceso a SQL magic. Con nuestro primer comando SQL magic nos conectaremos a la base de datos Db2. Sin embargo, para hacerlo deberás primero usar o crear tus claves de acceso para la base de datos.

<a ><img src = "https://ibm.box.com/shared/static/uy78gy1uq3uj6fkvd4muzy5zcr62tb72.png" width = 1000, align = "center"></a>
  <h5 align=center>  En esta imagen se muestra la ubicación de tu cadena de conexión si estas usando Db2 en IBM Cloud. Si estas utilizando otro host, el formato seria: username:password@hostname:port/database-name
  </h5>

In [ ]:
# Introduce tus claves de acceso de Db2 en la cadena de conexión en la parte de abajo
# Recuerda que generaste credenciales de servicio (Service Credentials) en la parte III en el  
# primer laboratorio del curso en la semana 1
# p.ej. desde el campo de la URI en Service Credentials copia todo desde de db2:// (borra las 
# comillas dobles del final). Por ejemplo, si tus credenciales son como mas que se muestran en la 
# captura de pantalla de arriba, deberás escribir: %sql ibm_db_sa://my-username:my-
# password@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
# observa que el prefijo es ibm_db_sa:// en vez de db2://
# Esto se debe a que la extensión ipython-sql de JupyterLab utiliza sqlalchemy (un conjunto de 
# herramientas de Python para SQL) que a su vez utiliza sqlalchemy de IBM: ibm_db_sa
%sql ibm_db_sa://

##### Por conveniencia, podemos usar %%sql (dos ‘%’ en vez de una) al principio de la celda para indicar que queremos que todo el bloque sea tratado como SQL. Lo usaremos para crear una tabla y llenarla con algunos datos de prueba para poder experimentar.

In [ ]:
%%sql

CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
	country VARCHAR(50),
	first_name VARCHAR(50),
	last_name VARCHAR(50),
	test_score INT
);
INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORES (country, first_name, last_name, test_score)
VALUES
('United States', 'Marshall', 'Bernadot', 54),
('Ghana', 'Celinda', 'Malkin', 51),
('Ukraine', 'Guillermo', 'Furze', 53),
('Greece', 'Aharon', 'Tunnow', 48),
('Russia', 'Bail', 'Goodwin', 46),
('Poland', 'Cole', 'Winteringham', 49),
('Sweden', 'Emlyn', 'Erricker', 55),
('Russia', 'Cathee', 'Sivewright', 49),
('China', 'Barny', 'Ingerson', 57),
('Uganda', 'Sharla', 'Papaccio', 55),
('China', 'Stella', 'Youens', 51),
('Poland', 'Julio', 'Buesden', 48),
('United States', 'Tiffie', 'Cosely', 58),
('Poland', 'Auroora', 'Stiffell', 45),
('China', 'Clarita', 'Huet', 52),
('Poland', 'Shannon', 'Goulden', 45),
('Philippines', 'Emylee', 'Privost', 50),
('France', 'Madelina', 'Burk', 49),
('China', 'Saunderson', 'Root', 58),
('Indonesia', 'Bo', 'Waring', 55),
('China', 'Hollis', 'Domotor', 45),
('Russia', 'Robbie', 'Collip', 46),
('Philippines', 'Davon', 'Donisi', 46),
('China', 'Cristabel', 'Radeliffe', 48),
('China', 'Wallis', 'Bartleet', 58),
('Moldova', 'Arleen', 'Stailey', 38),
('Ireland', 'Mendel', 'Grumble', 58),
('China', 'Sallyann', 'Exley', 51),
('Mexico', 'Kain', 'Swaite', 46),
('Indonesia', 'Alonso', 'Bulteel', 45),
('Armenia', 'Anatol', 'Tankus', 51),
('Indonesia', 'Coralyn', 'Dawkins', 48),
('China', 'Deanne', 'Edwinson', 45),
('China', 'Georgiana', 'Epple', 51),
('Portugal', 'Bartlet', 'Breese', 56),
('Azerbaijan', 'Idalina', 'Lukash', 50),
('France', 'Livvie', 'Flory', 54),
('Malaysia', 'Nonie', 'Borit', 48),
('Indonesia', 'Clio', 'Mugg', 47),
('Brazil', 'Westley', 'Measor', 48),
('Philippines', 'Katrinka', 'Sibbert', 51),
('Poland', 'Valentia', 'Mounch', 50),
('Norway', 'Sheilah', 'Hedditch', 53),
('Papua New Guinea', 'Itch', 'Jubb', 50),
('Latvia', 'Stesha', 'Garnson', 53),
('Canada', 'Cristionna', 'Wadmore', 46),
('China', 'Lianna', 'Gatward', 43),
('Guatemala', 'Tanney', 'Vials', 48),
('France', 'Alma', 'Zavittieri', 44),
('China', 'Alvira', 'Tamas', 50),
('United States', 'Shanon', 'Peres', 45),
('Sweden', 'Maisey', 'Lynas', 53),
('Indonesia', 'Kip', 'Hothersall', 46),
('China', 'Cash', 'Landis', 48),
('Panama', 'Kennith', 'Digance', 45),
('China', 'Ulberto', 'Riggeard', 48),
('Switzerland', 'Judy', 'Gilligan', 49),
('Philippines', 'Tod', 'Trevaskus', 52),
('Brazil', 'Herold', 'Heggs', 44),
('Latvia', 'Verney', 'Note', 50),
('Poland', 'Temp', 'Ribey', 50),
('China', 'Conroy', 'Egdal', 48),
('Japan', 'Gabie', 'Alessandone', 47),
('Ukraine', 'Devlen', 'Chaperlin', 54),
('France', 'Babbette', 'Turner', 51),
('Czech Republic', 'Virgil', 'Scotney', 52),
('Tajikistan', 'Zorina', 'Bedow', 49),
('China', 'Aidan', 'Rudeyeard', 50),
('Ireland', 'Saunder', 'MacLice', 48),
('France', 'Waly', 'Brunstan', 53),
('China', 'Gisele', 'Enns', 52),
('Peru', 'Mina', 'Winchester', 48),
('Japan', 'Torie', 'MacShirrie', 50),
('Russia', 'Benjamen', 'Kenford', 51),
('China', 'Etan', 'Burn', 53),
('Russia', 'Merralee', 'Chaperlin', 38),
('Indonesia', 'Lanny', 'Malam', 49),
('Canada', 'Wilhelm', 'Deeprose', 54),
('Czech Republic', 'Lari', 'Hillhouse', 48),
('China', 'Ossie', 'Woodley', 52),
('Macedonia', 'April', 'Tyer', 50),
('Vietnam', 'Madelon', 'Dansey', 53),
('Ukraine', 'Korella', 'McNamee', 52),
('Jamaica', 'Linnea', 'Cannam', 43),
('China', 'Mart', 'Coling', 52),
('Indonesia', 'Marna', 'Causbey', 47),
('China', 'Berni', 'Daintier', 55),
('Poland', 'Cynthia', 'Hassell', 49),
('Canada', 'Carma', 'Schule', 49),
('Indonesia', 'Malia', 'Blight', 48),
('China', 'Paulo', 'Seivertsen', 47),
('Niger', 'Kaylee', 'Hearley', 54),
('Japan', 'Maure', 'Jandak', 46),
('Argentina', 'Foss', 'Feavers', 45),
('Venezuela', 'Ron', 'Leggitt', 60),
('Russia', 'Flint', 'Gokes', 40),
('China', 'Linet', 'Conelly', 52),
('Philippines', 'Nikolas', 'Birtwell', 57),
('Australia', 'Eduard', 'Leipelt', 53)

#### Uso de variables de Python en las sentencias SQL
##### Puedes utilizar las variables de Python en tus sentencias SQL añadiendo el prefijo “:” al nombre de las variables.
##### Por ejemplo, si se tiene la variable Python ‘country’ con el valor “Canada”, puede utilizarse esta variable en una consulta SQL para encontrar todas las filas cuyos estudiantes sean de Canadá.

In [ ]:
country = "Canada"
%sql select * from INTERNATIONAL_STUDENT_TEST_SCORES where country = :country

#### Asignar el resultado de las búsquedas a las variables de Python

##### Puede utilizarse la sintaxis normal de asignación en Python para darle los valores del resultado a las variables de Python.
##### Por ejemplo, Se hace una consulta SQL para tomar la distribución las calificaciones (p.ej. cuantos estudiantes obtuvieron una calificación dada). Se puede asignar el resultado de esta consulta a la variable `test_score_distribution` usando el operador `=`.

In [ ]:
test_score_distribution = %sql SELECT test_score as "Test Score", count(*) as "Frequency" from INTERNATIONAL_STUDENT_TEST_SCORES GROUP BY test_score;
test_score_distribution

#### Convertir el resultado de las consultas en Dataframes

##### Se puede convertir fácilmente el resultado de una consulta en un dataframe pandas utilizando el método `DataFrame()`. Los objetos Dataframe son mucho mas versátiles que los resultados de las consultas en SQL. Por ejemplo, se puede fácilmente graficar la distribución de las calificaciones después de ser convertidas en Dataframes.

In [ ]:
dataframe = test_score_distribution.DataFrame()

%matplotlib inline
# quitar el comentario de la siguiente línea si aparece un mensaje de error diciendo que no sea ha encontrado seaborn
# !pip install seaborn
import seaborn

plot = seaborn.barplot(x='Test Score',y='Frequency', data=dataframe)

¡Ahora sabes como trabajar con Db2 desde un cuaderno en JupyterLab utilizando SQL "magic"!

In [ ]:
%%sql 

-- Feel free to experiment with the data set provided in this notebook for practice:
SELECT country, first_name, last_name, test_score FROM INTERNATIONAL_STUDENT_TEST_SCORES;

Copyright © 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201ES-edX-20127845&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201ES-edX-20127845&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).\n